.content {
    font-size: $body-font-size;
}

.container {
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    display: grid;
    grid-gap: 10px;
}

.card {
    display: block;
    margin: 0 auto;
}
