/* src/entry/views/version/version.scss */

.version {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 100%;
    padding: 0.5em;
    background: $primary;
    color: $secondary;
    font-family: $body-font;
    font-size: $body-font-size;
    opacity: 0.9;
    z-index: 9999;

    span {
        color: $white;
    }
}
